#movie-container{
    width: 200px;
    margin: 1rem;
    background-color: rgb(89, 25, 153);
}

#movie-container:hover{
    transition: all 0.5s ease-in-out;
	transform: scale(1.2);
}

.movie-image{
    width: 200px;
}

.text-color{
    color: white;
}

#movie-info{
    display: flex;
    padding: 2% 5% 5% 5%;
    justify-content: space-between;
}