#movie-page{
    background-color: rgb(54, 22, 85);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: white;
    padding-bottom: 2%;
}

#header{
    width: 90%;
    height: 5%;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    background-color: rgb(89, 25, 153);
    padding: 2% 5% 2% 5%;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#header form{
    width: 50%;
    display: flex;
    justify-content: center;
}

#search-bar{
    width: 50%;
    height: 2rem;
    margin-top: 4%;
    border-radius: 10px;
    padding: 0.5rem;
    background-color: rgb(54, 22, 85);
    color: white;
    font-size: 1rem;
}

#genres{
    background-color: rgb(54, 22, 85);
    text-align: center;
    color: white;
    padding-top: 1%;
    padding-bottom: 2%;
}

#genre-tags{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: white;
}

.genre-name{
    margin: 1.5rem;
    background-color: rgb(89, 25, 153);
    padding: 0.5rem;
    border-radius: 0.5rem;
    color: white;
}

.genre-btn{
    width: 5rem;
    height: 2rem;
}

#next{
    width: 5rem;
    height: 2rem;
    margin-left: 50%;
    margin-bottom: 5%;
}


